.img {
    
    min-height: 100vh;
    background:url('../assets/page7.jpg') no-repeat;
    background-size: 100% 100%;

}
.droit{
    float: right;
}

.texte {
    color: blanchedalmond;
   
}
//login
.body{
    background-color:#f5f5f5;
    font-family: 'Roboto' , sans-serif;
    border-radius: 20px;
    min-width: 300px;
    font-size: large;
}

form h1 
{
    color: black;
    
}

form .social-media
{     margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    
   
    
}
form .social-media p{
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #545454;
    border-radius: 100%;
    width: 30px ;
    text-align: center ;
    cursor:pointer;
    
}
form p.email{
    text-align: center;

}
form p.password{
    text-align: center;

}
form .inputs
{ display: flex;
    flex-direction:column ;

}
form .inputs input[type="email"], input[type="password"]
{
    padding: 15px;
    border-radius: 5px;
    border:none;
    background-color:white;
    margin-bottom: 20px;
    outline: none;
   margin: 20px;
}
.mg {
    display: flex;

    min-height: 100vh;
    background:url('../assets/homme.jpg') no-repeat;
    background-size: 100% 100%;
    
}
//inscrit
form .inputs
{ display: flex;
    flex-direction:column ;

}
form .inputs input[type="email"], input[type="password"], input[type="text"], input[type="number"]
{
    padding: 15px;
    border-radius: 5px;
    border:none;
    background-color:white;
    margin-bottom: 20px;
    outline: none;
   margin: 20px;
}
.btn-long {
    width: 300px; 
}

.imge {
    display: flex;

    min-height: 100vh;
    background:url('../assets/femme.jpg') no-repeat;
    background-size: 100% 100%;
}

.icones{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 12px ;
    border-radius:20ch;
    background-color: aliceblue;
    color: black;
}

